
/*-- courseview,sign up --*/
body {
  overflow-x: hidden;
  font-family: 'Open Sans', sans-serif;
  color: #2e1f77;
}
h2{font-family: 'Open Sans', sans-serif;
  color: #1e1f77}
  h1{font-family: 'Open Sans', sans-serif;
    color: #424242}
.fixed-background {
  overflow: hidden; /*-- Correction for iOS --*/
}

/*-- Emoji Navbar --*/

/*============= FOOTER =============*/

/*============= SOCKET =============*/

/*============= MEDIA QUERIES =============*/

/* Devices under 1199px (xl) */
@media (max-width: 1199.98px) {

}
/* Devices under 768px (md) */
@media (max-width: 767.98px) {

}

.bg-color{background-color: #ef7f4d;}
.bg-color-form{background-color:  rgba(239,127,77);}
.bg-colour-course{background-color: rgb(30, 75, 141);}
.btn.custom-btn{
  background-color: rgb(255, 255, 255);
	border-color: #f1c0c0;
 
}
/*-- Bootstrap Mobile Gutter Fix --*/
.row, .container-fluid {
  margin-left: 0px !important;
  margin-right: 0px !important;
}
.fixed-background {
  position: center;
  width: 100%;
  z-index: 1000!important;
}
.fixed-wrap {
  clip: rect(0, auto, auto, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -999 !important;
}
.fixed {
  background-image: url('../nahrstuff/nahrstuff.png');
  z-index: -999!important;
  display:block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size:cover;
  background-position:center center;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  will-change: transform;
  background-repeat: repeat;
}
.fixed {
  background-image: url('../nahrstuff/nahrstuff.png');
position: fixed;}

  .fixed-background{padding: 10rem 0;}