{% load static %}


<!DOCTYPE html>
<html lang="en">
<head> 
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SIGN UP</title>
  <link rel="shortcut icon" href="{% static 'webpages/assets/img/nahrstuff/NAHRDESIGNCARD.png' %}">
  <link rel="stylesheet" href="{% static 'webpages/assets/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'webpages/assets/css/bootstrap.css' %}">
  <link rel="stylesheet" href="{% static 'webpages/assets/css/style3.css' %}">
  <link rel="preconnect" href="https://fonts.gstatic.com">

<link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


</head>

<body>

<br>
<br>
  <div class="container container-sm bg-color-form">

    <br>
    <h2>Sign Up</h2>
    <br>
    <form method="POST" action="">
      {% csrf_token %}
      <div class="form-group">
        <label for="usnm">Username:</label>
       
      </div>
      {{form.username}}
      <br>
      <div class="form-group">
        <label for="email">Email:</label>
        
      </div>
      {{form.email}}
      <br>
      <div class="form-group">
        <label for="pwd">Password:</label>
        
      </div>
      {{form.password1}}
      <br>

      <div class="form-group">
        <label for="pwd">Verify Password:</label>
        
      </div>
      {{form.password2}}

<br><br>
      <button type="submit"  class="btn custom-btn" href="/login">Register</button>

      <br><br>
    </form>
  </div>
{{form.errors}}
  <div class="fixed-background">
    <div class="fixed-wrap">
      <div class="fixed"><img src="{% static 'webpages/assets/img/nahrstuff/nahrstuff.png' %}"></div>
    </div>
  </div>

  <script>
  
var form_fields = document.getElementsByTagName('input')
form_fields[1].placeholder='Username..';
form_fields[2].placeholder='Email..';
form_fields[3].placeholder='Enter password...';
form_fields[4].placeholder='Re-enter Password...';


for (var field in form_fields){	
form_fields[field].className += ' form-control'
}
</script>

</body>
</html>



