{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

  <style>
.container {
  max-width: 500px;
  margin: auto;
}
</style>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>NAHR</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons --> 
  <link rel="shortcut icon" href="{% static 'webpages/assets/img/nahrstuff/NAHRDESIGNCARD.png' %}">

  <link href="{% static 'webpages/assets/img/nahrstuff/NAHRDESIGNCARD.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,600,600i,700,700i" rel="stylesheet">


<!--SCRIPTS FOR SEARCH-->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <!-- Vendor CSS Files -->
  
  <link href="{% static 'webpages/assets/vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static 'webpages/assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'webpages/assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'webpages/assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'webpages/assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'webpages/assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'webpages/assets/css/style.css' %}" rel="stylesheet">
  <link href="{% static 'webpages/assets/css/style1.css' %}" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Ninestars - v4.1.0
  * Template URL: https://bootstrapmade.com/ninestars-free-bootstrap-3-theme-for-creative/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">

      <div class="logo">
        <h1 class="text-light"><a href=""><img src="{% static 'webpages/assets/img/nahrstuff/NAHRDESIGNCARD.png' %}" alt="" class="img-fluid"></a>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
      </div>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="">Courses</a></li>
          <li><a class="nav-link scrollto" href="#about">About Us</a></li>
          <li><a class="nav-link scrollto" href="#contact">Contact</a></li>

          {% if user.is_authenticated %}
          
          
          <span><a href=logout/> Logout</a></span>
          <span><a href=profile/> Profile &nbsp &nbsp</a></span>
          <br><br>
          <span> Hi, {{request.user}} </span>
          {% else %}

          <li><a class="getstarted scrollto" href="login/">LOGIN</a></li>
          {% endif %}
         
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  
  <!-- ======= search Section ======= -->
  <section class="align-items-center">
        
    <div class="container container-sm">
      <br>
      <br>
      <div class="form-outline">
        <input class="form-control" id="myInput" type="text" placeholder="try searching 'programming' or 'free'">
      </div>
    </div>
</section><!-- End search -->



<main id="main">


<!-- ======= courses Section ======= -->
<section id="courses" class="services section-bg">
<div class="container" data-aos="fade-up">

  <div class="section-title">
    <p>Courses</p>
  </div>
<ul class="list-group" id="myList">
  <div class="row">
    <li class="list-group-item">
    <div class="d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
      <div class="icon-box">
        <div class="icon"><i class="bx bx-code-block"></i></div>
        <h4 class="title"><pre><a href="https://www.coursera.org/learn/web-development">Intro to Web-Development</pre></a></h4>
        <p class="description">
        <i class="bx bx-chevron-right"></i>Provided by Coursera. "This course is designed to start you on a path toward future studies in web development and design, no matter how little experience or technical knowledge you currently have.... This course is designed to start you on a path toward future studies in web development and design, no matter how little experience or technical knowledge you currently have."<br>
        <i class="bx bx-chevron-right"></i>Free enrollment, Web-Development, Programming, Computer Science</a>
      </p>
      </div>
    </div>
  </li>

  <li class="list-group-item">
    <div class="d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
      <div class="icon-box">
        <div class="icon"><i class="bx bx-bar-chart-alt-2"></i></div>
        <h4 class="title"><pre><a href="https://www.udemy.com/course/pmp-pmbok6-35-pdus/">PMP Exam Prep Seminar</pre></a></h4>
        <p class="description">
        <i class="bx bx-chevron-right"></i>Provided by Udemy. "Pass the PMP on Your First Attempt!" This course aims to help individuals qualified for the PMP exam to prepare for it.<br>
        <i class="bx bx-chevron-right"></i>$179.99<br>
        <i class="bx bx-chevron-right"></i>Paid, Project Management, PMP, Business</a>
      </p>
      </div>
    </div>
  </li>

  <li class="list-group-item">
    <div class="d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
      <div class="icon-box">
        <div class="icon"><i class='bx bx-palette'></i></div>
        <h4 class="title"><pre><a href="https://www.udemy.com/course/pattern-making-for-fashion-design-beginner-course/">Pattern Making for Fashion Design - Beginner Course (Part 1)</pre></a></h4>
        <p class="description">
        <i class="bx bx-chevron-right"></i>Provided by Udemy. "How to use Pattern Making Principals and Techniques to draft patterns for your original fashion design ideas."<br>
        <i class="bx bx-chevron-right"></i>$27.99<br>
        <i class="bx bx-chevron-right"></i>Paid, Art, Design, Fashion Design</a>
      </p>
      </div>
    </div>
  </li>

  <li class="list-group-item">
    <div class="d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
      <div class="icon-box">
        <div class="icon"><i class='bx bxs-flask'></i></div>
        <h4 class="title"><pre><a href="https://www.skillshare.com/classes/Moles-and-Molarity/1309610607?via=browse-rating-chemistry-layout-grid">Moles & Molarity</pre></a></h4>
        <p class="description">
        <i class="bx bx-chevron-right"></i>Provided by Skillshare. "This course will look at moles and molarity, and Avogadro's constant, and then later move on to look at Amounts, Volumes and Concentrations, and it contains a number of worked examples of how to calculate the number of moles present, how many grams of something you will need to get a certain number of moles, and how to work out the molarity of a solution."<br>
        <i class="bx bx-chevron-right"></i>Free, Classes, Chemistry, Science, Middle school, High school</a>
      </p>
      </div>
    </div>
  </li>
  
  <li class="list-group-item">
    <div class="d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
      <div class="icon-box">
        <div class="icon"><i class='bx bxs-flask'></i></div>
        <h4 class="title"><pre><a href="https://www.coursera.org/learn/einstein-relativity">Understanding Einstein: The Special Theory of Relativity</pre></a></h4>
        <p class="description">
        <i class="bx bx-chevron-right"></i>Provided by Coursera. "In this course we will seek to “understand Einstein,” especially focusing on the special theory of relativity that Albert Einstein, as a twenty-six year old patent clerk, introduced in his “miracle year” of 1905. Our goal will be to go behind the myth-making and beyond the popularized presentations of relativity in order to gain a deeper understanding of both Einstein the person and the concepts, predictions, and strange paradoxes of his theory"<br>
        <i class="bx bx-chevron-right"></i>Free-enrollment, Physics, Science, Space</a>
      </p>
      </div>
    </div>
  </li>

  <li class="list-group-item">
    <div class="d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
      <div class="icon-box">
        <div class="icon"><i class='bx bx-bar-chart-alt-2'></i></div>
        <h4 class="title"><pre><a href="https://www.coursera.org/learn/marketing-plan">Digital Media and Marketing Strategies</pre></a></h4>
        <p class="description">
        <i class="bx bx-chevron-right"></i>Provided by Coursera. "This course aims to give you a deeper understanding of core processes of planning a digital marketing campaign and the role of various digital channels in an integrated marketing communication."<br>
        <i class="bx bx-chevron-right"></i>Free-enrollment, Marketing, Business, Online</a>
      </p>
      </div>
    </div>
  </li>

  <li class="list-group-item">
    <div class="d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
      <div class="icon-box">
        <div class="icon"><i class='bx bx-palette'></i></div>
        <h4 class="title"><pre><a href="https://www.udemy.com/course/pattern-making-for-fashion-design-beginner-course/">Pattern Making for Fashion Design - Beginner Course (Part 1)</pre></a></h4>
        <p class="description">
        <i class="bx bx-chevron-right"></i>Provided by Udemy. "How to use Pattern Making Principals and Techniques to draft patterns for your original fashion design ideas."<br>
        <i class="bx bx-chevron-right"></i>$27.99<br>
        <i class="bx bx-chevron-right"></i>Paid, Art, Design, Fashion Design</a>
      </p>
      </div>
    </div>
  </li>

  <li class="list-group-item">
    <div class="d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
      <div class="icon-box">
        <div class="icon"><i class="bx bx-code-block"></i></div>
        <h4 class="title"><pre><a href="https://www.coursera.org/learn/web-development">Intro to Web-Development</pre></a></h4>
        <p class="description">
        <i class="bx bx-chevron-right"></i>Provided by Coursera. "This course is designed to start you on a path toward future studies in web development and design, no matter how little experience or technical knowledge you currently have..."<br>
        <i class="bx bx-chevron-right"></i>Free enrollment, Web-Development, Programming, Computer Science</a>
      </p>
      </div>
    </div>
  </li>

  <li class="list-group-item">
    <div class="d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
      <div class="icon-box">
        <div class="icon"><i class='bx bx-bar-chart-alt-2'></i></div>
        <h4 class="title"><pre><a href="https://www.actksa.com/training-courses/management/costing-finance-and-accounting/accounting-fundamentals-the-income-statement-working-capital">Accounting Fundamentals, The Income Statement & Working Capital</pre></a></h4>
        <p class="description">
        <i class="bx bx-chevron-right"></i>Provided by ACTKsa. "The Accounting Fundamentals course aims to provide participants (particularly those who have no prior knowledge of finance) with an introduction to financial statement analysis. The income statement, balance sheet and cash flow statement are introduced, and the key interactions between the income statement and balance sheet are explained. Participants will build simple financial statements using a list of transactions."<br>
        <i class="bx bx-chevron-right"></i>7,475 SAR</a> <br>
        <i class="bx bx-location-plus"></i>Starts on 25/05/2021 in Khobar, KSA</a><br>
        <i class="bx bx-chevron-right"></i>Paid, Accounting, Finance, In-Person, Business</a>
      </p>
      </div>
    </div>
  </li>


  </div>
</div>
</ul>

</section><!-- End Services Section -->
<script>
$(document).ready(function(){
  $("#myInput").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#myList li").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});
</script>

    <!-- ======= Contact Us Section ======= -->
    <section id="contact" class="contact">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <p>Contact Us</p>
        </div>

        <div class="row">

          <div class="col-lg-5 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
            <div class="info">
              <div class="address">
                <i class="bi bi-geo-alt"></i>
                <h4>Location:</h4>
                <p>A108 olaya, Riyadh, KSA 535022</p>
              </div>

              <div class="email">
                <i class="bi bi-envelope"></i>
                <h4>Email:</h4>
                <p>info@nahr.com</p>
              </div>

              <div class="phone">
                <i class="bi bi-phone"></i>
                <h4>Call:</h4>
                <p>+1 5589 55488 55s</p>
              </div>

              <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14500.23890551969!2d46.67716345273224!3d24.690473500000017!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3e2f033ac58dc4e9%3A0xa680f59328531a25!2z2KjYsdisINin2YTZgdmK2LXZhNmK!5e0!3m2!1sen!2ssa!4v1617662896063!5m2!1sen!2ssa" 

              frameborder="0" style="border:0; width: 100%; height: 290px;" allowfullscreen></iframe>
            </div>

          </div>

          <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
            <form action="forms/contact.php" method="post" role="form" class="php-email-form">
              <div class="row">
                <div class="form-group col-md-6">
                  <label for="name">Your Name</label>
                  <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
                </div>
                <div class="form-group col-md-6 mt-3 mt-md-0">
                  <label for="name">Your Email</label>
                  <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
                </div>
              </div>
              <div class="form-group mt-3">
                <label for="name">Subject</label>
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
              </div>
              <div class="form-group mt-3">
                <label for="name">Message</label>
                <textarea class="form-control" name="message" rows="10" required></textarea>
              </div>
              <div class="my-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your message has been sent. Thank you!</div>
              </div>
              <div class="text-center"><button type="submit">Send Message</button></div>
            </form>
          </div>

        </div>

      </div>
    </section><!-- End Contact Us Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">

    <div class="footer-newsletter">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-6">
            <h4>Join Our Newsletter</h4>
            <p>Be the first to know about our latest online courses</p>
            <form action="" method="post">
              <input type="email" name="email"><input type="submit" value="Subscribe">
            </form>
          </div>
        </div>
      </div>
    </div>

    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-contact">
            <h3>NAHR</h3>
            <p>
              A108 Olaya Street <br>
              Riyadh, KSA 535022<br>
              Saudi Arabia <br><br>
              <strong>Phone:</strong> +1 5589 55488 55<br>
              <strong>Email:</strong> info@nahr.com<br>
            </p>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">About us</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Courses</a></li>
            
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Our Providers</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="https://www.skillshare.com">Skillshare</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="https://www.Coursera.com">Coursera</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="https://www.Udemy.com">Udemy</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="https://www.generalassemb.ly">General Assembly</a></li>
          
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Our Social Networks</h4>
            <p>FOLLOW US</p>
            <div class="social-links mt-3">
              <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
              <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
              <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
              <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
              <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="container py-4">
      <div class="copyright">
        &copy; Copyright <strong><span>NAHR</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/ninestars-free-bootstrap-3-theme-for-creative/ -->
        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static 'webpages/assets/vendor/aos/aos.js' %}"></script>
  <script src="{% static 'webpages/assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'webpages/assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'webpages/assets/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'webpages/assets/vendor/php-email-form/validate.js' %}"></script>
  <script src="{% static 'webpages/assets/vendor/swiper/swiper-bundle.min.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'webpages/assets/js/main.js' %}"></script>

</body>

</html>